@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root{
    --darkbg: #0f0f0f;
    --white-text : #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-text);
    background-color: var(--darkbg); 
    font-family: "Mukta", sans-serif;
}